
/*中间区域*/
#center{
	width: 100%;
	
}
.product-banner{
	width: 100%;
	height: 450px;
	background-image: url(http://www.fjtydy.com/picture/client/product-banner.jpg);
	background-size: 100% 100%;
}

/*产品展示*/
.display{
	width: 100%;
	padding-bottom: 50px;
	background-color: rgb(248,248,248); 
}
.display-title{
	width: 120px;
	height: 50px;
	padding-top: 80px;
	font-size: 30px;
	text-align: center;
	margin: 0 auto;
	color: rgb(68,68,68);
}
.display-item{
	width: 80%;
	margin: 0 auto;
}
.product{
	display: inline-block;
	width: 30%;
	height: 450px;
	border: 1px solid;
	border-color: rgba(174,174,174,0.5);
	background: rgb(255,255,255);
	margin-left: 33px;
	margin-top: 33px;
}
.scale{
	width: 70%;
	height: 60%;
	padding: 55px;
}
.product-name{
	font-size: 20px;
	color: rgb(74,74,74);
	text-align: center;
}

/*鼠标移入效果*/
.product:hover{
	transform: translateY(-4px); 
	transition: ease all 0.3s;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
	-webkit-transform:translateY(-4px);
	-moz-transform:translateY(-4px);
	-ms-transform:translateY(-4px);
	-o-transform:translateY(-4px);
	-webkit-transition: ease all 0.3s;
	-moz-transition: ease all 0.3s;
	-ms-transition: ease all 0.3s;
	-o-transition: ease all 0.3s;
}


/*******************************************/

/* Medium desktop :1366px. */
@media (min-width: 1200px) and (max-width: 1680px){

	.display-item{
		width: 91%;
	}
	.product{	
		width: 29%;
		height: 450px;
	}
	.scale{
		width: 70%;
		height: 60%;
		padding: 15%;
	}
}
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px){
	
	.product-banner{
		height: 400px;
	}
	.display{
		height: 1000px;
	}
	.display-title{
		padding-top: 50px;
	}
	.display-item{
		width: 91%;
		margin: 0 auto;
	}
	.product{
		width: 29%;
		height: 380px;
	}
	.scale{
		width: 70%;
		height: 60%;
		padding: 15%;
	}
}
/* Tablet Layout :768px. */
@media (min-width: 768px) and (max-width: 991px){
	.product-banner{
		height: 350px;
	}
	.display{
		height:750px;
	}
	.display-title{
		padding-top: 50px;
	}
	.display-item{
		width: 90%;
	}
	.product{
		width: 30%;
		height: 280px;
		margin-left: 10px;
		margin-top: 20px;
	}
	.scale{
		width: 80%;
		height: 60%;
		padding: 12%;
	}
}
/* small mobile :320px. */
@media (max-width: 767px){
	.product-banner{
		height: 200px;
	}
	.display{
		height:1950px;
	}
	.display-title{
		padding-top: 30px;
		font-size: 20px;
	}
	.display-item{
		width: 90%;
	}
	.product{
		width: 100%;
		height: 350px;
		margin-top: 15px;
		margin-left: 0;
	}
	.scale{
		width: 80%;
		height: 70%;
		padding: 8%;
	}
	.product-name{
		font-size: 16px;
	}
	
}
