
/*此css文档作为共用部分，头部底部固定区域样式*/

html{
	/*禁止字体在移动设备变化*/
	-webkit-text-size-adjust;
}
body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
	overflow-x: hidden;
}
a{
	color:black;
	text-decoration: none;
}
/*图片缩放*/
.scale:hover{
	transform: scale(1.1); 
	transition: ease all 0.5s;
	-webkit-transform: scale(1.1); 
	-webkit-transition: ease all 0.5s;
	-o-transform: scale(1.1); 
	-o-transition: ease all 0.5s;
	-ms-transform: scale(1.1);
	-ms-transition: ease all 0.5s;
	-moz-transform: scale(1.1);
	-moz-transition: ease all 0.5s;
}

/*头部区域(LOGO/导航)*/
#header{
	width: 100%;
	height: 80px;
	margin: 0;
	padding: 0;
}
/*logo区域*/
.logo-area{
	display: inline-block;
	text-align: center;
	margin-left: 17%;
	padding-top: 7px;
}
.logo-area img{
	width: 187px;
	height: 66px;
}
/*导航*/
.navigation{
	display: inline-block;
	margin-left: 17%;
}
.nav{
	line-height: 60px;	
}
.nav li{
	margin-left: 55px;
	float: left;
	list-style: none;
	font-size: 16px;
}
.nav li a:hover{
	color:skyblue;
}

/*底部(联系/备案/版权/公众号)*/
#footer{
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 300px;
	clear:both;
	background: rgb(47,79,79);
}
.footer-item{
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.contact,.gzh{
	padding-top: 60px;
	text-align: center;
	font-size: 16px;
	color: rgb(255,255,255);
}
.gzh{
	padding-left: 60px;
}

/*回到顶部按钮*/
.backTop{
	position: fixed;
	width: 50px;
	height: 50px;
	right: 20px;
	bottom: 50px;
	border-radius: 50%;
	cursor: pointer;
}
.backTop img{
	border-radius: 50%;
}
.backTop img:hover{
	background-color: skyblue;
}

/*******************************************/

/* Medium desktop :1366px. */
@media (min-width: 1200px) and (max-width: 1680px){
	.logo-area{
		margin-left: 5%;
	}
	.navigation{
		margin-left: 18%;
	}
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px){
	.logo-area{
		margin-left: 2%;
	}
	.navigation{
		margin-left: 5%;
	}
}

/* Tablet Layout :768px. */
@media (min-width: 768px) and (max-width: 991px){
	
	.logo-area{
		margin-left: 2%;
	}
	.logo-area img{
		width: 150px;
		height: 60px;
	}
	.navigation{
		margin-left: 3%;
	}
	.nav li{
		margin-left: 30px;
		float: left;
		list-style: none;
		font-size: 14px;
	}
}

/* small mobile :320px. */
@media (max-width: 767px){
	
	/*logo区域*/
	.logo-area{
		display: block;
		width: 100%;
		height: 50%;
		margin: 0 auto;
	}
	.logo-area img{
		width: 120px;
		height: 100%;
	}
	/*导航*/
	.navigation{
		display: block;
		width: 90%;
		height: 50%;
		margin: 0 auto;
	}
	.nav{
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 0;
		line-height: 18px;
	}
	.nav li{
		margin-left: 12px;
		float: left;
		list-style: none;
		font-size: 12px;
	}
	#footer{
		height: 450px;
	}
	.footer-item{
		width: 90%;
		display: block;
		margin: 0 auto;
	}
	.contact,.gzh{
		padding-top: 20px;
		font-size: 14px;
	}
	.gzh{
		padding-left: 0;
	}
}

